.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*.nav-icons {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.nav-icons .icon-container {*/
/*  margin-right: 20px; !* Add more margin to separate icons *!*/
/*  text-align: center; !* Center the text *!*/
/*}*/

/*.nav-icons .icon-container:last-child {*/
/*  margin-right: 0; !* Remove margin from the last icon *!*/
/*}*/

/*.nav-icons .icon-container .icon {*/
/*  cursor: pointer;*/
/*  margin-right: 5px; !* Add margin to the right of the icon *!*/
/*}*/

/*.nav-icons .icon-container .icon-label {*/
/*  font-size: 0.75rem;*/
/*  color: #333; !* Adjust the color to fit your design *!*/
/*}*/

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}

.icon-label {
  margin-top: 5px; /* Adjust as necessary for spacing between icon and label */
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-caret-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

